<section class="hero">
  <div class="container mb-10">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="hero-heading text-white mb-5">{{ 'Contact' | translate }}</h1>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="container">
      <h2 class="mb-2">{{ 'Title Contact' | translate }}</h2>
      <p class="lead">{{ 'Subtitle Contact' | translate }}</p>
    </div>
    <div class="row align-items-center mt-5">
      <div class="col-lg-5">
        <img src="../../../assets/images/contact.svg" alt="contact-image" class="img-fluid">
      </div>
      <div class="col-lg-7 contact-details mt-5 mt-lg-0">
        <app-contact-form></app-contact-form>
      </div>
    </div>
  </div>
</section>