<!-- Hero Section-->
<section class="hero">
  <div class="container mb-10">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <h1 class="hero-heading mb-0">{{ 'AboutUs' | translate }}</h1>
      </div>

      <div class="aboutUs-text mt-4">
        <p>{{ 'AboutUsText' | translate }}</p>
      </div>

      <div class="col-lg-4 col-md-12 p-3 mt-lg-0 mt-sm-2 member">
        <div class="image">
          <img class="d-lg-block" src="../../../assets/images/adrian-fernandez.png" alt="Adrián Fernández Claverías">
        </div>
        <h2 class="name mt-4">Adrián Fernández Claverías</h2>
        <div class="business">{{ 'CoFounder' | translate }}</div>
        <div class="position">{{ 'FrontendDev' | translate }}</div>
        <div class="sn mt-2">
          <a href="https://www.linkedin.com/in/adrian-fernandez-75b87115b/"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/afdezcl"><i class="fab fa-github"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 p-3 mt-lg-0 mt-sm-2 member">
        <div class="image">
          <img class="d-lg-block" src="../../../assets/images/nicolas-vargas.png" alt="Nicolás Vargas Ortega">
        </div>
        <h2 class="name mt-4">Nicolás Vargas Ortega</h2>
        <div class="business">{{ 'CoFounder' | translate }}</div>
        <div class="position">{{ 'BackendDev' | translate }}</div>
        <div class="sn mt-2">
          <a href="https://www.linkedin.com/in/nicolas-vargas-71024ba1/"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/soasada"><i class="fab fa-github"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 p-3 mt-lg-0 mt-sm-2 mb-sm-2 member">
        <div class="image">
          <img class="d-lg-block" src="../../../assets/images/alejandro-garcia.png" alt="Alejandro García Maya">
        </div>
        <h2 class="name mt-4">Alejandro García Maya</h2>
        <div class="business">{{ 'HeadOfUxUi' | translate }}</div>
        <div class="position">{{ 'FrontendDev' | translate }}</div>
        <div class="sn mt-2">
          <a href="https://www.linkedin.com/in/alejandro-garc%C3%ADa-maya-65059041/"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/ravenbloodgon"><i class="fab fa-github"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-translation">
  <div class="container">
    <div class="text-center">
      <p class="lead text-muted mt-2 translation">{{ 'TranslatedBy' | translate }}<strong>Julia Villanueva Rubio</strong></p>
    </div>
  </div>
</section>
