<header class="header">
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container"><a href="index.html" class="navbar-brand"><img src="" alt="" class="img-fluid"></a>
      <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
        class="navbar-toggler navbar-toggler-right">Menu<i class="fa fa-bars ml-2"></i></button>
      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <!-- Link-->
          <li class="nav-item"> <a [routerLink]="['']"  class="nav-link active">Home</a></li>
          <!-- Link-->
          <li class="nav-item"> <a href="faq.html" class="nav-link">FAQ</a></li>
          <!-- Link-->
          <li class="nav-item"> <a href="contact.html" class="nav-link">Contact</a></li>

          <li class="nav-item dropdown" dropdown>
            <a id="languages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              class="nav-link dropdown-toggle pointer-cursor" dropdownToggle >{{ 'Languages' | translate }}</a>
            <div class="dropdown-menu" *dropdownMenu role="menu">
              <a (click)="changeLanguage('en')" class="dropdown-item pointer-cursor" role="menuitem">{{ 'English' | translate }}</a>
              <a (click)="changeLanguage('es')" class="dropdown-item pointer-cursor" role="menuitem">{{ 'Spanish' | translate }}</a>
            </div>
          </li>
                
        </ul><a style="color: white;" (click)="openModalLogIn()" class="btn btn-primary navbar-btn ml-0 ml-lg-3">{{ 'LogIn' | translate }} </a>
      </div>
    </div>
  </nav>
</header>