<div class="modal-content">
  <div class="modal-header border-bottom-0">
    <button type="button" data-dismiss="modal" aria-label="Close" class="close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">×</span></button>
  </div>
  <div class="modal-body p-4 p-lg-5">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form text-left">
      <div class="form-group mb-4">
        <label>{{ 'Email' | translate }}</label>
        <span class="icon-input">
          <i class="fas fa-envelope"></i>
        </span>
        <input type="email" name="email" placeholder="name@company.com" class="form-control" formControlName="email">
      </div>
      <div class="form-group mb-4">
        <label>{{ 'Password' | translate }}</label>
        <span class="icon-input">
          <i class="fas fa-lock"></i>
        </span>
          <input type="password" name="password" placeholder="{{ 'PlaceholderPassword' | translate }}" class="form-control" formControlName="password">
      </div>
      <div class="form-froup mb-4">
      </div>
      <div class="form-group text-center">
        <input type="submit" value="{{ 'SignIn' | translate }}" class="btn btn-primary" [disabled]="login.invalid">
      </div>
      <div class="text-center">
        <a class="text-muted mt-2 pointer-cursor" [routerLink]="['/register']" (click)="bsModalRef.hide()">{{ 'NoHaveAccount' | translate }}</a>
      </div>
    </form>
  </div>
</div>