
<app-faq></app-faq>

<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="footer-logo">
          <span class="tipography-kemenu" style="color: white;">KEMENU</span>
        </div>
        <div class="mt-2">
          <span>Version: {{appVersion}}</span>
          <br>
          <small><a class="text-white" [routerLink]="['/cookies-policy']">{{ 'Cookies policy' | translate }}</a></small>
        </div>
      </div>

      <div class="col-lg-6 mb-2 mb-lg-0 mt-2">
        <h5 class="footer-heading">{{ 'Contact us' | translate }}</h5>
        <ul class="list-unstyled">
          <li> <span>{{ 'Description footer' | translate }} <span class="font-weight-bold">infokemenu@gmail.com</span></span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyrights">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-center text-lg-left">
          <p class="copyrights-text mb-3 mb-lg-0">&copy; {{ 'All rights reserved' | translate }}. KEMENU. {{ 'Design by' | translate }} <a href="https://bootstrapious.com/p/big-bootstrap-tutorial" class="external footer-link">Bootstrapious </a></p>
              <!-- If you want to remove the backlink, please purchase a license for this template @ https://bootstrapious.com/attribution-free-license. Big thanks!-->

        </div>
        <div class="col-lg-6 text-center text-lg-right">
          <ul class="list-inline social mb-0">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/KemenuApp/" target="_blank" class="social-link"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.instagram.com/kemenuapp/" target="_blank" class="social-link"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
