<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 mb-5 mb-lg-0">
        <div class="footer-logo"><img src="" alt="..." class="img-fluid"></div>
      </div>
      <div class="col-lg-3 mb-5 mb-lg-0">
        <h5 class="footer-heading">Site pages</h5>
        <ul class="list-unstyled">
          <li> <a href="index.html" class="footer-link">Home</a></li>
          <li> <a href="faq.html" class="footer-link">FAQ</a></li>
          <li> <a href="contact.html" class="footer-link">Contact</a></li>
          <li> <a href="text.html" class="footer-link">Text Page</a></li>
        </ul>
      </div>
      <div class="col-lg-3 mb-5 mb-lg-0">
        <h5 class="footer-heading">Product</h5>
        <ul class="list-unstyled">
          <li> <a href="#" class="footer-link">Why Appton?</a></li>
          <li> <a href="#" class="footer-link">Enterprise</a></li>
          <li> <a href="#" class="footer-link">Blog</a></li>
          <li> <a href="#" class="footer-link">Pricing</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h5 class="footer-heading">Resources</h5>
        <ul class="list-unstyled">
          <li> <a href="#" class="footer-link">Download</a></li>
          <li> <a href="#" class="footer-link">Help Center</a></li>
          <li> <a href="#" class="footer-link">Guides</a></li>
          <li> <a href="#" class="footer-link">Partners</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyrights">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-center text-lg-left">
          <p class="copyrights-text mb-3 mb-lg-0">&copy; All rights reserved. Kemenu 2020</p>
          <!-- If you want to remove the backlink, please purchase a license for this template @ https://bootstrapious.com/attribution-free-license. Big thanks!-->

        </div>
        <div class="col-lg-6 text-center text-lg-right">
          <ul class="list-inline social mb-0">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a><a href="#"
                class="social-link"><i class="fab fa-twitter"></i></a><a href="#" class="social-link"><i
                  class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>