.menu-digital {

  &-no-sections {
    color: #333333;
    text-align: center;
  }

  &-title {
    padding-left: 2rem;
    text-transform: uppercase;

    @media (max-width: 991.98px) {
      padding-left: 1rem;
    }

    > div {
      padding-left: 1em;
    }

    > * {
      display: inline-block;
    }

    i {
      font-size: 1.5rem;
      margin: 3px 10px 0 0;
      width: 18px;
      height: 12px;
      overflow: hidden;
      position: relative;

      &::before {
        position: absolute;
        top: 0px;
        left: 0px;
      }
    }
  }

  & .panel.panel-open .menu-digital-title i::before {
    top: -10px;
  }

  &-options {
    position: relative;
    padding: 2rem 0 1rem 0;

    &-new-section {
      & span {
        margin-left: 5px;
      }
    }

    & .select {
      position: relative;
      display: inline-block;
      width: 70%;

      & select {
        font-family: "Poppins", sans-serif;
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 5px 2rem 5px 15px;
        outline: none;
        border: 3px solid #ffe0e0;
        border-radius: 50px;
        color: #7b7b7b;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        &::-ms-expand {
          display: none;
        }
        &:hover,
        &:focus {
          color: #000000;
          background: #ffffff;
          outline: none;
          box-shadow: none;
        }
        &:disabled {
          opacity: 0.5;
          pointer-events: none;
        }
        &:hover ~ .select_arrow,
        &:focus ~ .select_arrow {
          border-color: #000000;
        }
        &:disabled ~ .select_arrow {
          border-top-color: #ffffff;
        }
      }

      & .select_arrow {
        position: absolute;
        top: 13px;
        right: 20px;
        width: 0px;
        height: 0px;
        border: solid #ffe0e0;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }

    @media (max-width: 991.98px) {
      text-align: center;
    }
  }

  @media (max-width: 991.98px) {
    .menu-digital.edit-mode {
      .menu-digital-title i {
        display: none;
      }
    }
  }

  &-section {
    &-add-dish {
      right: 1rem;

      span {
        margin-left: 5px;
      }
    }

    &-delete-section {
      left: 1rem;

      span {
        margin-left: 5px;
      }
    }

    &-icon-food {
      font-size: 20px;
      color: #7f7f7f;
      line-height: 30px;
    }

    .panel-open {

      .menu-digital-section-icon-food {
        color: #333333;
      }

      button {
        background: white;
        font-weight: bolder;
      }
    }
  }
}

.create-menu {
  margin-top: 10px;
  padding-top: initial;
}

.delete-menu-image i {
  font-size: 2em;
  position: absolute;
  top: 0;
  right: 0;
}
