<div class="modal-content">
  <div class="modal-header border-bottom-0">
    <button type="button" data-dismiss="modal" aria-label="Close" class="close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">×</span></button>
  </div>
  <div class="modal-body p-4 p-lg-5">
    <form [formGroup]="section" (ngSubmit)="onSubmit()" class="login-form text-left">
      <div class="row">
        <div class="col">
          <div class="form-group mb-4">
            <label>{{ 'Section name' | translate }}</label>
            <span class="icon-input">
              <i class="fas fa-utensils"></i>
            </span>
            <input type="text" name="name" placeholder="{{ 'Examples of sections' | translate }}" class="form-control" formControlName="name">
          </div>
        </div>
      </div>
      <div class="form-group text-center">
        <input type="submit" value="{{ 'Create Section' | translate }}" class="btn btn-primary" [disabled]="section.invalid">
      </div>
    </form>
  </div>
</div>