<div class="modal-content" >
  <div class="modal-body p-4 p-lg-5">
    <div class="row mb-3">
      <div class="col-sm-12">
        <h5 class="text-bold">Nuevas Política y condiciones de uso</h5>
        <small class="text-muted"><span class="d-inline">{{ 'Alert cookies' | translate }} </span><a class="d-inline" [routerLink]="['/cookies-policy']" target="_blank">{{ 'Cookies policy' | translate }}</a></small>
      </div>
    </div>
    
    <div class="row action-buttons">
      <div class="col-12 col-sm-6 text-center">
        <button class="btn" (click)="updateNewsletterStatus('REJECTED')">{{ 'Reject' | translate }}</button>        
      </div>
      <div class="col-12 col-sm-6 text-center mt-2 mt-sm-0">
        <button class="btn btn-primary" (click)="updateNewsletterStatus('ACCEPTED')">{{ 'Accept' | translate }}</button>
      </div>
    </div>

  </div>
</div>
