<section class="hero">
  <div class="container mb-5">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="text-white mb-0">{{ 'Cookies policy' | translate }}</h2>
      </div>
    </div>
  </div>
</section>

<div class="container mb-5">
  <div class="row">
    <div class="col-sm-12">
      <h4 class="text-bold">{{ 'Cookies Page.Title 1' | translate }}</h4>
      <p class="text-muted">{{ 'Cookies Page.Text 1' | translate }}</p>

      <h4 class="text-bold">{{ 'Cookies Page.Title 2' | translate }}</h4>
      <p class="text-muted">{{ 'Cookies Page.Text 2' | translate }}</p>

      <h4 class="text-bold">{{ 'Cookies Page.Title 3' | translate }}</h4>
      <p class="text-muted">{{ 'Cookies Page.Text 3' | translate }}</p>

      <h4 class="text-bold">{{ 'Cookies Page.Title 4' | translate }}</h4>
      <p class="text-muted">{{ 'Cookies Page.Text 4' | translate }}</p>
      <ul class="text-muted">
        <li *ngFor="let item of ('Cookies Page.Text 4 list' | translate)">{{ item }}</li>
      </ul>

      <h4 class="text-bold">{{ 'Cookies Page.Title 5' | translate }}</h4>
      <ul class="text-muted">
        <li *ngFor="let item of ('Cookies Page.Text 5 list' | translate)">{{ item }}</li>
      </ul>

      <h4 class="text-bold">{{ 'Cookies Page.Title 6' | translate }}</h4>
      <h6 class="text-bold">Chrome</h6>
      <ol class="text-muted">
        <li *ngFor="let item of ('Cookies Page.Text 6 list' | translate)">{{ item }}</li>
      </ol>
      <p class="text-muted">{{ 'Cookies Page.Text 6.1' | translate }} <a
          href="http://support.google.com/chrome/answer/95647?hl=es"
          target="_blank">http://support.google.com/chrome/answer/95647?hl=es</a> </p>

      <h6 class="text-bold">Internet Explorer. Versión 11</h6>
      <ol class="text-muted">
        <li *ngFor="let item of ('Cookies Page.Text 7 list' | translate)">{{ item }}</li>
      </ol>
      <p class="text-muted">{{ 'Cookies Page.Text 7.1' | translate }} <a
          href="https://support.microsoft.com/es-es/help/278835/how-to-delete-cookie-files-in-internet-explorer"
          target="_blank">https://support.microsoft.com/es-es/help/278835/how-to-delete-cookie-files-in-internet-explorer</a>
      </p>

      <h6 class="text-bold">Firefox. Versión 18</h6>
      <ol class="text-muted">
        <li *ngFor="let item of ('Cookies Page.Text 8 list' | translate)">{{ item }}</li>
      </ol>
      <p class="text-muted">{{ 'Cookies Page.Text 8.1' | translate }}</p>
      <p class="text-muted">{{ 'Cookies Page.Text 8.2' | translate }} <a
          href="https://www.mozilla.org/es-ES/privacy/websites/#cookies"
          target="_blank">https://www.mozilla.org/es-ES/privacy/websites/#cookies</a> </p>

      <h6 class="text-bold">Safari Versión 5.1</h6>
      <ol class="text-muted">
        <li *ngFor="let item of ('Cookies Page.Text 9 list' | translate)">{{ item }}</li>
      </ol>
      <p class="text-muted">{{ 'Cookies Page.Text 9.1' | translate }} <a
          href="https://www.apple.com/legal/privacy/en-ww/cookies/"
          target="_blank">https://www.apple.com/legal/privacy/en-ww/cookies/</a> </p>

      <h6 class="text-bold">Opera</h6>
      <ul class="text-muted">
        <li>{{ 'Cookies Page.Text 10' | translate }}</li>
      </ul>
      <p class="text-muted">{{ 'Cookies Page.Text 10.1' | translate }}</p>
      <p class="text-muted">{{ 'Cookies Page.Text 10.2' | translate }} <a
          href="https://help.opera.com/en/latest/security-and-privacy/#clearBrowsingData"
          target="_blank">https://help.opera.com/en/latest/security-and-privacy/#clearBrowsingData</a> </p>

      <h6 class="text-bold">{{ 'Cookies Page.Text 11' | translate }}</h6>
      <p class="text-muted">{{ 'Cookies Page.Text 11.1' | translate }}</p>

      <h4 class="text-bold">{{ 'Cookies Page.Additional Notes' | translate }}</h4>
      <p class="text-muted">{{ 'Cookies Page.Additional Notes Description' | translate }}
      </p>
    </div>
  </div>
</div>