<section class="hero">
  <div class="container mb-5">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="text-white mb-0">Política de cookies y privacidad</h1>
      </div>
    </div>
  </div>
</section>

<div class="container mb-5">
  <div class="row">
    <div class="col-sm-12">
      <h4 class="text-bold">INFORMACIÓN SOBRE COOKIES</h4>
      <p class="text-muted">Debido a la entrada en vigor de la referente modificación de la “Ley de Servicios de la
        Sociedad de la
        Información” (LSSICE) establecida por el Real Decreto 13/2012, es de obligación obtener el consentimiento
        expreso del usuario de todas las páginas web que usan cookies prescindibles, antes de que éste navegue por
        ellas.</p>

      <h4 class="text-bold">¿QUÉ SON LAS COOKIES?</h4>
      <p class="text-muted">Las cookies y otras tecnologías similares tales como local shared objects, flash cookies o
        píxeles, son
        herramientas empleadas por los servidores Web para almacenar y recuperar información acerca de sus visitantes,
        así como para ofrecer un correcto funcionamiento del sitio.

        Mediante el uso de estos dispositivos se permite al servidor Web recordar algunos datos concernientes al
        usuario, como sus preferencias para la visualización de las páginas de ese servidor, nombre y contraseña,
        productos que más le interesan, etc.</p>

      <h4 class="text-bold">COOKIES AFECTADAS POR LA NORMATIVA Y COOKIES EXCEPTUADAS</h4>
      <p class="text-muted">Según la directiva de la UE, las cookies que requieren el consentimiento informado por parte
        del usuario son
        las cookies de analítica y las de publicidad y afiliación, quedando exceptuadas las de carácter técnico y las
        necesarias para el funcionamiento del sitio web o la prestación de servicios expresamente solicitados por el
        usuario.</p>

      <h4 class="text-bold">¿QUÉ TIPOS DE COOKIES EXISTEN?</h4>
      <p class="text-muted">Sobre los tipos de cookies, existen cinco grandes grupos:</p>
      <ul class="text-muted">
        <li>Cookies analíticas: recogen información del uso que se realiza del sitio web.</li>
        <li>Cookies sociales: son aquellas necesarias para redes sociales externas.</li>
        <li>Cookies de afiliados: permiten hacer un seguimiento de las visitas procedentes de otras webs, con las que el
          sitio web establece un contrato de afiliación (empresas de afiliación).</li>
        <li>Cookies de afiliados: permiten hacer un seguimiento de las visitas procedentes de otras webs, con las que el
          sitio
          web establece un contrato de afiliación (empresas de afiliación).</li>
        <li>Cookies de publicidad y comportamentales: recogen información sobre las preferencias y elecciones personales
          del
          usuario (retargeting).</li>
        <li>Cookies técnicas y funcionales: son las estrictamente necesarias para el uso del sitio web y para la
          prestación
          del servicio contratado.</li>
      </ul>


      <h4 class="text-bold">COOKIES QUE SE UTILIZAN EN ESTE SITIO WEB</h4>
      <ul class="text-muted">
        <li>GDPR: cookie técnica y estrictamente necesaria que contiene el identificador de la sesión. Se elimina al
          cerrar el navegador.</li>
        <li>_lang: cookie técnica y estrictamente necesaria que contiene el idioma de la sesión. Se elimina al cerrar el
          navegador.</li>
        <li>ac_cookies: cookie técnica y estrictamente necesaria que contiene el valor de si se ha aceptado la
          instalación
          de cookies. Caduca en 1 año desde la última actualización.</li>
        <li>_ga: cookie de Google Analytics que habilita la función de control de visitas únicas. La primera vez que un
          usuario entre en el sitio web a través de un navegador se instalará esta cookie. Cuando este usuario vuelva a
          entrar en la web con el mismo navegador, la cookie considerará que es el mismo usuario. Solo en el caso de que
          el usuario cambie de navegador, se considerará otro usuario. Caduca a los 2 años desde la última
          actualización.</li>
        <li>_gat: Esta cookie se asocia con Google Analytics Universal. Se utiliza para limitar la velocidad de petición
          –
          la limitación de la recogida de datos en los sitios de alto tráfico. Caduca a los 10 minutos.</li>
        <li>_utma: cookie de Google Analytics que registra la fecha de la primera y última vez que el usuario vistió el
          sitio web. Caduca a los 2 años desde la última actualización.</li>
        <li>_utmb: cookie de Google Analytics que registra la hora de llegada a la página web. Caduca a los 30 minutos
          desde
          la última actualización.</li>
        <li>_utmc: cookie de Google Analytics utilizada para la interoperabilidad con el código de seguimiento
          urchin.js. Se
          elimina al cerrar el navegador.</li>
        <li>_utmt: cookie de Google Analytics. Esta cookie se utiliza para procesar el tipo de solicitud pedida por el
          usuario. Caduca al finalizar la sesión.</li>
        <li>_utmv: cookie de Google Analytics. Esta cookie se utiliza para segmentar datos demográficos. Caduca al
          finalizar
          la sesión.</li>
        <li>_utmz: cookie de Google Analytics que almacena la fuente de tráfico o una campaña para explicar cómo el
          usuario
          llegó al sitio web. Caduca a los 6 meses desde la última actualización.</li>
      </ul>

      <h4 class="text-bold">CÓMO ELIMINAR LAS COOKIES DEL NAVEGADOR</h4>
      <h6 class="text-bold">Chrome</h6>
      <ol class="text-muted">
        <li>Seleccione el icono de Herramientas.</li>
        <li>Haga clic en Configuración.</li>
        <li>Haga clic en Mostrar Opciones Avanzadas.</li>
        <li>En la sección “Privacidad” haz clic en Configuración de contenido.
          <ul>
            <li>Eliminar cookies: Haga clic en Todas las cookies y los datos de sitios…</li>
            <li>No permitir que se almacenen cookies.</li>
          </ul>
        </li>
        <li>Haga clic en Eliminar datos de navegación (vaciar la Caché).</li>
        <li>Cierre y reinicie el navegador.</li>
      </ol>
      <p class="text-muted">Para más información sobre Chrome pulse aquí: <a
          href="http://support.google.com/chrome/answer/95647?hl=es"
          target="_blank">http://support.google.com/chrome/answer/95647?hl=es</a> </p>

      <h6 class="text-bold">Internet Explorer. Versión 11</h6>
      <ol class="text-muted">
        <li>Seleccione Herramientas | Opciones de Internet.</li>
        <li>Haga clic en la ficha General.</li>
        <li>En la sección “Historial de exploración”, haga clic en Eliminar el historial de exploración al salir.</li>
        <li>Seleccione Eliminar archivos.</li>
        <li>Seleccione Eliminar cookies.</li>
        <li>Haga clic en Eliminar.</li>
        <li>Haga clic en Aceptar.</li>
        <li>Cierre y reinicie el navegador.</li>
      </ol>
      <p class="text-muted">Para más información sobre Internet Explorer pulse aquí: <a
          href="https://support.microsoft.com/es-es/help/278835/how-to-delete-cookie-files-in-internet-explorer"
          target="_blank">https://support.microsoft.com/es-es/help/278835/how-to-delete-cookie-files-in-internet-explorer</a>
      </p>

      <h6 class="text-bold">Firefox. Versión 18</h6>
      <ol class="text-muted">
        <li>Seleccione Firefox | Historial | Limpiar el historial reciente.</li>
        <li>Al lado de “Detalles”, haga clic en la flecha hacia abajo.</li>
        <li>Seleccione las siguientes casillas de verificación: Cookies, Caché, Inicios de sesión activos.</li>
        <li>Usando el “Intervalo de tiempo para borrar” en el menú desplegable, seleccione Todo.</li>
        <li>Haga clic en Borrar ahora.</li>
        <li>Cierre y reinicie el navegador.</li>
      </ol>
      <p class="text-muted">Puede aceptar o rechazar las cookies individualmente en las Preferencias de Firefox, en la
        sección Historial
        disponible en Herramientas > Opciones > Privacidad.</p>
      <p class="text-muted">Para más información sobre Mozilla Firefox pulse aquí: <a
          href="https://www.mozilla.org/es-ES/privacy/websites/#cookies"
          target="_blank">https://www.mozilla.org/es-ES/privacy/websites/#cookies</a> </p>

      <h6 class="text-bold">Safari Versión 5.1</h6>
      <ol class="text-muted">
        <li>Seleccione el icono de Safari / Editar | Restaurar Safari.</li>
        <li>Seleccione las siguientes casillas de verificación: Borrar el historial, Eliminar todos los datos de sitio
          web.</li>
        <li>Haga clic en Restablecer.</li>
        <li>Cierre y reinicie el navegador.</li>
      </ol>
      <p class="text-muted">Para más información sobre Safari pulse aquí: <a
          href="https://www.apple.com/legal/privacy/en-ww/cookies/"
          target="_blank">https://www.apple.com/legal/privacy/en-ww/cookies/</a> </p>

      <h6 class="text-bold">Opera</h6>
      <ul class="text-muted">
        <li>Opciones – Avanzado – Cookies.</li>
      </ul>
      <p class="text-muted">Las opciones de cookies controlan el modo en que Opera los maneja y por lo tanto su
        aceptación o rechazo.</p>
      <p class="text-muted">Para más información sobre Opera pulse aquí: <a
          href="https://help.opera.com/en/latest/security-and-privacy/#clearBrowsingData"
          target="_blank">https://help.opera.com/en/latest/security-and-privacy/#clearBrowsingData</a> </p>

      <h6 class="text-bold">Otros navegadores</h6>
      <p class="text-muted">Consulte la documentación del navegador que tenga instalado.</p>

      <h4 class="text-bold">NOTAS ADICIONALES</h4>
      <p class="text-muted">Si eres un usuario registrado está aceptando recibir ofertas y servicios a su correo
        electrónico. Esto no afecta a los clientes que no tienen una cuenta en KEMENU, es decir, los clientes que
        únicamente escanean el código QR no se verán afectados. Siempre podrá cancelar o activar la subscripción de envío
        de correos en la página de su perfil.
      </p>
    </div>
  </div>
</div>