  <div class="modal-content">
    <div class="modal-header border-bottom-0">
      <button type="button" data-dismiss="modal" aria-label="Close" class="close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body p-4 p-lg-5">
      <form [formGroup]="dishForm" (ngSubmit)="onSubmit()" class="login-form text-left">
        <div class="row">
          <div class="col">
            <div class="form-group mb-4">
              <label>{{ 'Dish name' | translate }}</label>
              <span class="icon-input">
                <i class="fas fa-hamburger"></i>
              </span>
              <input type="text" name="name" placeholder="{{ 'Examples of dishes' | translate }}" class="form-control"
                formControlName="name">
            </div>
            <div class="form-group mb-4">
              <label>{{ 'Dish description (Optional)' | translate }} </label>
              <span class="icon-input">
                <i class="fas fa-list"></i>
              </span>
              <input type="text" name="name" placeholder="{{ 'Dish Description' | translate }}" class="form-control"
                formControlName="description">
            </div>
            <div class="form-group mb-4">
              <label>{{ 'Price' | translate }}</label>
              <span class="icon-input">
                <i class="fas fa-money-bill-alt"></i>
              </span>
              <input type="number" name="price" placeholder="{{ 'Dish price' | translate }}" class="form-control"
                formControlName="price" min="0">
            </div>
          </div>
        </div>
  

        <div class="row mb-3">
          <div class="col text-center">
            <h5 (click)="activeShowAllergens()" class="btn btn-secondary">{{ 'Show Allergens' | translate }}</h5>
            <br>
            <small class="text-muted text-center">{{ 'Allergens description' | translate }}</small>            
          </div>
        </div>
        
        <div class="row mb-4" *ngIf="showAllergens">
          <!-- LEFT COLUMN -->
          <div class="col">
            <div class="form-check" *ngFor="let allergen of allergensListToShowOnLeft">
              <div class="checkbox">
                <label style="font-size: 1em">
                  <input type="checkbox" value="" class="button-checkbox">
                  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                  <img src="../../../../assets/icons-allergens/{{allergen.imageName}}" alt="allergen" class="icons-allergens">
                  {{allergen.name}}
                </label>
              </div>
            </div>
          </div>
          
          <!-- RIGHT COLUMN -->
          <div class="col">
            <div class="form-check" *ngFor="let allergen of allergensListToShowOnRight">
              <div class="checkbox">
                <label style="font-size: 1em">
                  <input type="checkbox" value="">
                  <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                  <img src="../../../../assets/icons-allergens/{{allergen.imageName}}" alt="allergen" class="icons-allergens">
                  {{allergen.name}}
                </label>
              </div>
            </div>          
          </div>
        </div>
  
        <div class="form-group text-center">
          <input type="submit" value="{{ 'Create dish' | translate }}" class="btn btn-primary"
            [disabled]="dishForm.invalid">
        </div>
      </form>
    </div>
  </div>


