$kemenu-red: #E7475D;
$kemenu-watermark: #E7475D url('assets/images/watermark-bg.svg') 100%;
$kemenu-dark-background: url('./assets/images/section-header.png');
$header-mobile-height: 79px;
$logo-white: url('./assets/images/logo-white.png');

