<!--Initial view-->
<div class="container">
  <div class="row text-center card-buttons-container first-menu" *ngIf="menusSaved.length === 0">
    <div class="col-lg-5 col-md-12 card first-menu-button">
      <img src="../../../assets/images/photo_sharing.svg" alt="no-sections" class="img-fluid first-menu-image">
      <h5 class="font-weight-bold">{{ 'Upload Menu Image' | translate }}</h5>
      <span class="text-muted">{{ 'WarningMenuImage' | translate }}</span>
      <app-upload-image-button firstMenu="true" (uploadFileEvent)="handleFileUpload($event)">
      </app-upload-image-button>
    </div>
    <div class="col-lg-2 col-md-12 first-menu-or">
      <h5 class="font-weight-bold">{{ 'Or' | translate }}</h5>
    </div>
    <div class="col-lg-5 col-md-12 card first-menu-button" (click)="openCreateMenuName()">
      <img src="../../../assets/images/no-sections.svg" alt="no-sections" class="img-fluid first-menu-image">
      <h5 class="font-weight-bold">{{ 'CreateDigitalFirstMenu' | translate }}</h5>
      <span class="text-muted">{{ 'WarningFirstMenu' | translate }}</span>
    </div>
  </div>
</div>

<!--MENU LIST-->
<div class="container" *ngIf="menusSaved.length !== 0">
  <div class="row text-center card-buttons-container first-menu">
    <div class="col-sm-12 card-deck">
      <div class="card shadow rounded-lg" style="cursor: pointer;" *ngFor="let menu of menusSaved">
        <div class="card-body" (click)="goToMenu(menu.id)">
          <h5 class="font-weight-bold">{{ menu.name !== '' ? menu.name : ('First menu' | translate)}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ 'Click to enter the menu' | translate }}</h6>
        </div>
        <div class="card-footer">
          <button type="submit"
            class="btn btn-secondary circular-button float-left"
            (click)="openEditMenuName(menu)">
            <i class="fas fa-edit"></i>
          </button>
          <button type="submit"
            class="btn btn-secondary circular-button float-right"
            (click)="onDeleteMenu(menu)">
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </div>
      <div class="card shadow pt-4 rounded" style="cursor: pointer;" (click)="openCreateMenuName()">
        <div class="card-body">
          <h5 class="card-title">{{ 'Add new menu' | translate }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ 'Add new menu description' | translate }}</h6>
          <i class="fas fa-plus"></i><br>
        </div>
      </div>
    </div>
  </div>
</div>