.letter {
    margin-top: 150px;
    margin-bottom: 150px;
}

@media (max-width: 380px) {
    .icons-allergens{
        margin-top: 10px;

    }
}

.icons-allergens{
    margin-left: 10px;
    height: 25px !important;
    width: 25px !important;
}

::ng-deep .ngxImageZoomContainer > img {
  max-height: 650px !important;
}

@media screen and (max-width: 500px) {
  ::ng-deep .ngxImageZoomContainer > img {
    flex: 100% !important;
    max-width: 350px !important;
  }
}
