<div class="container">
  <div class="letter">
    <div class="text-center mb-3">
      <h3 class="font-weight-bold">Bienvenid@ a Bar Galeón!</h3>
      <span class="text-muted">Aquí puedes ver nuestra carta</span>
    </div>
    <accordion [isAnimated]="true">
      <accordion-group heading="Pescados">
        This content is straight in the template.
      </accordion-group>
      <accordion-group heading="Carnes">
        <p>Some content</p>
      </accordion-group>
      <accordion-group heading="Postres">
        <p>Some content</p>
      </accordion-group>
      <accordion-group heading="Bebidas">
        <p>Some content</p>
      </accordion-group>
    </accordion>
  </div>  
</div>
