.letter {
    margin-top: 150px;
    margin-bottom: 150px;
}

@media (max-width: 380px) {
    .icons-allergens{
        margin-top: 10px;

    }
}

.icons-allergens{
    margin-left: 10px;
    height: 25px !important;
    width: 25px !important;
}
