<!-- Hero Section-->
<section class="hero">
  <div class="container mb-5">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h1 class="hero-heading mb-0">Move work <br> forward</h1>
        <div class="row">
          <div class="col-lg-10">
            <p class="lead text-muted mt-4 mb-4">Lorem ipsum dolor sit amet, consectetur. Eiusmod tempor incididunt.
            </p>
          </div>
        </div>
        <form action="register.html" class="subscription-form">
          <div class="form-group">

            <button type="submit" class="btn btn-primary">Get Started FREE!</button>
          </div>
        </form>
      </div>
      <div class="col-lg-6"><img src="../../../assets/images/people-eating.svg" alt="..."
          class="hero-image img-fluid d-none d-lg-block  color-svg"></div>
    </div>
  </div>
</section>
<!-- Intro Section-->
<section>
  <div class="container">
    <div class="text-center">
      <h2>Track projects from start to finish </h2>
      <p class="lead text-muted mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p><a
        href="#" class="btn btn-primary">Learn More</a>
    </div>
    <div class="row">
      <div class="col-lg-7 mx-auto mt-5"><img src="../../../assets/images/list-menu.svg" alt="..." class="intro-image img-fluid"></div>
    </div>
  </div>
</section>
<!-- Divider Section-->
<section class="bg-primary text-white">
  <div class="container">
    <div class="text-center">
      <h2>Do great things together</h2>
      <div class="row">
        <div class="col-lg-9 mx-auto">
          <p class="lead text-white mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor. eiusmod tempor incididunt ut labore et dolore.</p>
        </div>
      </div><a href="#" class="btn btn-outline-light">Learn More</a>
    </div>
  </div>
</section>
<!-- Integrations Section-->
<section>
  <div class="container">
    <div class="text-center">
      <h2>How works?</h2>
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <p class="lead text-muted mt-2">You do not have install anything. Follow the next steps: </p>
        </div>
      </div>
    </div>
    <div class="integrations mt-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="box text-center">
            <div class="icon d-flex align-items-end"><img src="../../../assets/images/monitor.svg" alt="..." class="img-fluid"></div>
            <h3 class="h4">Register</h3>
            <p class="text-small font-weight-light">First of all, you have to register in the application with your restaurant's name, email and password.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="box text-center">
            <div class="icon d-flex align-items-end"><img src="../../../assets/images/target.svg" alt="..." class="img-fluid"></div>
            <h3 class="h4">Make menu</h3>
            <p class="text-small font-weight-light">Make the letter of menu with all types of foods delicious.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="box text-center">
            <div class="icon d-flex align-items-end"><img src="../../../assets/images/chat.svg" alt="..." class="img-fluid"></div>
            <h3 class="h4">Share</h3>
            <p class="text-small font-weight-light">Save and print QR code to your clients can visit the menu in his phone or tablet.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="box text-center">
            <div class="icon d-flex align-items-end"><img src="../../../assets/images/idea.svg" alt="..." class="img-fluid"></div>
            <h3 class="h4">Consulting</h3>
            <p class="text-small font-weight-light">Lorem Ipsum has been the industry's standard dummy text ever.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="box text-center">
            <div class="icon d-flex align-items-end"><img src="../../../assets/images/coffee-cup.svg" alt="..." class="img-fluid"></div>
            <h3 class="h4">Email Marketing</h3>
            <p class="text-small font-weight-light">Lorem Ipsum has been the industry's standard dummy text ever.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="box text-center">
            <div class="icon d-flex align-items-end"><img src="../../../assets/images/pen.svg" alt="..." class="img-fluid"></div>
            <h3 class="h4">UX &amp; UI</h3>
            <p class="text-small font-weight-light">Lorem Ipsum has been the industry's standard dummy text ever.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- How it works Section-->
<section class="bg-gray">
  <div class="container text-center text-lg-left">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <h2 class="divider-heading">Curious how Appton <br>works for large</h2>
        <div class="row">
          <div class="col-lg-10">
            <p class="lead divider-subtitle mt-2 text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing.
              Vitae animi mollitia cumque sunt soluta. consectetur adipisicing.</p>
          </div>
        </div><a href="#" class="btn btn-primary">Learn More</a>
      </div>
      <div class="col-lg-5 mt-5 mt-lg-0"><img src="../../../assets/images/restaurant.svg" alt="" class="divider-image img-fluid"></div>
    </div>
  </div>
</section>
