<!-- Hero Section-->
<section class="hero">
  <div class="container mb-5">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h1 class="hero-heading mb-0">{{ 'SloganTitle' | translate }}</h1>
        <div class="row">
          <div class="col-lg-10">
            <p class="lead text-muted mt-4 mb-4">{{ 'SloganText' | translate }}</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" [routerLink]="['/register']" class="btn btn-primary">{{ 'GetStarted' | translate }}</button>
        </div>
      </div>
      <div class="col-lg-6"><img src="../../../assets/images/people-eating.svg" alt="people-eating"
          class="hero-image img-fluid d-none d-lg-block"></div>
    </div>
  </div>
</section>
<app-alert></app-alert>
<!-- Intro Section-->
<section>
  <div class="container">
    <div class="text-center">
      <h2>{{ 'Home-No installations title' | translate }}</h2>
      <p class="lead text-muted mt-2">{{ 'Home-No installations description' | translate }}</p><a
        href="#howWorks" class="btn btn-primary">{{ 'Learn More' | translate }}</a>
    </div>
    <div class="row">
      <div class="col-lg-7 mx-auto mt-5"><img src="../../../assets/images/list-menu.svg" alt="list-menu"
          class="intro-image img-fluid"></div>
    </div>
  </div>
</section>
<!-- Divider Section-->
<section class="bg-primary text-white">
  <div class="container">
    <div class="text-center">
      <h2>{{ 'Home-Demo title' | translate }}</h2>
      <div class="row">
        <div class="col-lg-9 mx-auto">
          <p class="lead text-white mt-2">{{ 'Home-Demo description' | translate }}</p>
        </div>
      </div><a [routerLink]="['/demo']" class="btn btn-outline-light">{{ 'Home-Demo button' | translate }}</a>
    </div>
  </div>
</section>
<!-- Integrations Section-->
<section id="howWorks">
  <div class="container">
    <div class="text-center">
      <h2>{{ 'Home-How Work title' | translate }}</h2>
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <p class="lead text-muted mt-2">{{ 'Home-How Work description' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="integrations mt-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="box text-center">
            <div class="icon d-flex align-items-end"><img src="../../../assets/images/monitor.svg" alt="monitor"
                class="img-fluid"></div>
            <h3 class="h4">{{ 'SignUp' | translate }}</h3>
            <p class="text-small font-weight-light">{{ 'Home-Step one' | translate }}</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="box text-center">
            <div class="icon d-flex align-items-end"><img src="../../../assets/images/coffee-cup.svg" alt="coffee-cup"
                class="img-fluid"></div>
            <h3 class="h4">{{ 'Create menu' | translate }}</h3>
            <p class="text-small font-weight-light">{{ 'Home-Step two' | translate }}</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="box text-center">
            <div class="icon d-flex align-items-end"><img src="../../../assets/images/chat.svg" alt="chat"
                class="img-fluid"></div>
            <h3 class="h4">{{ 'Share' | translate }}</h3>
            <p class="text-small font-weight-light">{{ 'Home-Step three' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- How it works Section-->
<section class="bg-gray">
  <div class="container text-center text-lg-left">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <h2 class="divider-heading">{{ 'Home-Advice title' | translate }}</h2>
        <div class="row">
          <div class="col-lg-10">
            <p class="lead divider-subtitle mt-2 text-muted">{{ 'Home-Advice description' | translate }}</p>
          </div>
        </div><a [routerLink]="['/register']" class="btn btn-primary">{{ 'GetStarted' | translate }}</a>
      </div>
      <div class="col-lg-5 mt-5 mt-lg-0"><img src="../../../assets/images/restaurant.svg" alt=""
          class="divider-image img-fluid"></div>
    </div>
  </div>
</section>
