.no-sections-image {
    height: 120px;
    width: 120px;
}

.create-menu {
    margin-top: 10px;
    margin-bottom: 200px !important;
}

.add-dish {
    border-radius: 25px !important;
    color: white;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.delete-section {
    border-radius: 25px !important;
    color: #e7475e;
    padding-top: 7px !important;
    padding-bottom: 10px !important;
    padding-left: 10px !important;
    padding-right: 5px !important;
}
.delete-dish{
    border-radius: 25px !important;
    color: #e7475e;
    padding-top: 7px !important;
    padding-bottom: 10px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;    
}