<section class="menu-section">

  <div class="row section-header align-items-center" *ngIf="menu.sections.length > 0 || menu.imageUrl">
    <div class="col-sm-12 text-center">
      <button type="submit" class="btn btn-primary mt-3" (click)="openShareQR()" [disabled]="!menu.shortUrlId || thereIsChange">
        {{ 'Get QR and share' | translate }}<i class="fas fa-qrcode pl-2"></i></button>
    </div>
  </div>

  <div class="container">
    <div class="row text-center card-buttons-container first-menu" *ngIf="menu.sections.length === 0 && !menu.imageUrl">
      <div class="col-lg-5 col-md-12 card first-menu-button">
        <img src="../../../assets/images/photo_sharing.svg" alt="no-sections" class="img-fluid first-menu-image">
        <h5 class="font-weight-bold">{{ 'Upload Menu Image' | translate }}</h5>
        <span class="text-muted">{{ 'WarningMenuImage' | translate }}</span>
        <app-upload-image-button firstMenu="true" (uploadFileEvent)="handleFileUpload($event)"></app-upload-image-button>
      </div>
      <div class="col-lg-2 col-md-12 first-menu-or">
        <h5 class="font-weight-bold">{{ 'Or' | translate }}</h5>
      </div>
      <div class="col-lg-5 col-md-12 card first-menu-button" (click)="openCreateSection()">
        <img src="../../../assets/images/no-sections.svg" alt="no-sections" class="img-fluid first-menu-image">
        <h5 class="font-weight-bold">{{ 'CreateDigitalFirstMenu' | translate }}</h5>
        <span class="text-muted">{{ 'WarningFirstMenu' | translate }}</span>
      </div>
    </div>

    <div class="row mt-3 mt-md-5 mb-md-5" *ngIf="menu.sections.length > 0 || menu.imageUrl">
      <div class="col-12 p-0">
        <app-menu-image
          [editMode]="true"
          [menu]="menu"
          (uploadedMenuImage)="menuChange($event)">
        </app-menu-image>
      </div>

      <div class="col-12 p-0 mt-2">
        <app-menu-digital
          [editMode]="true"
          [menu]="menu"
          (menuChange)="menuChange($event)">
        </app-menu-digital>
      </div>

      <div class="save-button">
        <button type="submit" class="btn btn-primary mt-3" (click)="onSaveMenu()" [disabled]="!thereIsChange">
          <i class="fas fa-save pl-1"></i><span>{{ 'Save' | translate }}</span>
        </button>
      </div>
    </div>

  </div>
</section>
