.no-sections-image {
    height: 120px;
    width: 120px;
}

.create-menu {
    margin-top: 10px;
    margin-bottom: 200px;
}

.dishes {
    background-color: #f5f5f5;
    color: #e7475e;
    padding: 15px;
    border-radius: 5px;
    text-transform: uppercase;
}
.dish-title {
    font-size: 15px !important;
    font-family: "Poppins", sans-serif;
}
.dish-price {
    font-size: 15px !important;
}
.add-dish {
    border-radius: 25px !important;
    color: white;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.delete-section {
    border-radius: 25px !important;
    color: #e7475e;
    padding-top: 7px !important;
    padding-bottom: 10px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}