.no-sections-image {
  height: 120px;
  width: 120px;

  @media (max-width: 991.98px) {
    height: 80px;
    width: 80px;
  }
}

.menu-section {
  margin-top: 10px;
  padding-top: initial;
}

.save-button {
  position: absolute; /* Safari */
  position: sticky;
  bottom: 1rem;
  text-align: right;
  z-index: 2;
  left: 0;
  right: 0;
  margin: auto;

  @media (max-width: 991.98px) {

    & button {
      padding: 0.9rem 1rem;

      & span {
        display: none;
      }
    }
  }
}
