<section class="create-menu">
  <div class="container">
    <div class="row text-center mt-5" *ngIf="menu.sections.length === 0">
      <div class="col mt-5">
        <img src="../../../assets/images/no-sections.svg" alt="no-sections" class="img-fluid no-sections-image">
        <br>
        <h5 class="font-weight-bold">{{ 'Sections menu' | translate }}</h5>
        <span class="text-muted">{{ 'Warning no dishes' | translate }}</span>
        <br>
      </div>
    </div>

    <div class="row text-center">
      <div class="col">        
        <button type="submit" class="btn btn-primary mt-3" (click)="openCreateSection()">{{ 'Create Section' | translate }}</button>
      </div>
    </div>
  
    <div class="row" *ngIf="menu.sections">
      <div class="col mt-5">
        <accordion [isAnimated]="true">
          <div *ngFor="let section of menu.sections">
            <accordion-group heading="{{section.name}}">
              <button type="submit" class="btn btn-primary mt-3" (click)="openCreateDish()">{{ 'Create dish' | translate }}</button>
            </accordion-group>          
          </div>
        </accordion>
      </div>      
    </div>
  
  </div>
</section>
