
.accordion-custom app-upload-image-button,
.accordion-custom app-upload-image-button::ng-deep a {
  max-width: 190px;
  padding: 0 1rem;
  text-align: right;
  color: #333;
  text-transform: none !important;
  background: none;
  display: block;
  border: none;
  padding-top: 1.3em;
  padding-bottom: 1.1em;
  cursor: pointer;
  width: 100%;
  background: #f5f5f5;
  outline: none;
  border-radius: 0;
  box-shadow: none;
  z-index: 1;
}

.accordion-custom app-upload-image-button::ng-deep a {
  padding: 0;

  &:active {
    color: #333 !important;
    background-color: transparent !important;
  }
}

.delete-menu-image i {
  font-size: 2em;
  position: absolute;
  top: 0;
  right: 0;
}

::ng-deep .ngxImageZoomContainer > img {
    max-height: 50px !important;
}
