
.menu-image {

  &-title {
    padding-left: 2rem;

    @media (max-width: 991.98px) {
      padding-left: 1rem;
    }

    i {
      margin: 3px 10px 0 0;
    }
  }

  &-upload,
  &-upload::ng-deep a {
    max-width: 190px;
    padding: 0 1rem;
    text-align: right;
    color: #333;
    text-transform: none !important;
    background: none;
    display: block;
    border: none;
    padding-top: 1.3em;
    padding-bottom: 1.1em;
    cursor: pointer;
    width: 100%;
    background: #f5f5f5;
    outline: none;
    border-radius: 0;
    box-shadow: none;
    z-index: 1;
  }

  &-upload::ng-deep a {
    padding: 0 1rem 0 0;

    @media (max-width: 991.98px) {
      padding: 0;
    }

      &:active {
      color: #333 !important;
      background-color: transparent !important;
    }
  }

  &-delete i {
    font-size: 2em;
    position: absolute;
    top: 0;
    right: 0;
  }

  ::ng-deep .ngxImageZoomContainer > img {
    max-height: 50px !important;
  }


}
