.background {
    background-color: #e7475e;
}
@media (min-width: 991.98px) {
  .background {
    height: 100vh !important;
  }
}  
.container, .row {
    height: 100%;
}

  @media (max-width: 991.98px) {
    .card {
        margin-top: 100px;
    }
    .profile-button {
      font-size: 14px;
      padding-left: 17px;
      padding-right: 17px;
    }
  }  

.btn {
  width: 100%;
}