<div class="background">
  <div class="wrapper container">
    <div class="row justify-content-md-center align-items-center">
      <div class="col-auto">
        <div class="card p-5 shadow" style="border-radius: 25px;">
          <div class="card-body col-12">
            <div class="row">
              <div class="col-sm-6">
                <img src="../../../assets/images/profile.svg" alt="profile" class="img-fluid">
              </div>
              <div class="col-sm-6">

                <div class="text-center mt-3">
                  <h4 class="card-title mb-4">{{ 'My profile' | translate }}</h4>
                </div>

                <div class="text-center mt-3">
                  <button type="submit" class="btn btn-success" [routerLink]="['edit']">{{ 'Edit Information' | translate }}
                    <i class="fas fa-user pl-2"></i>
                  </button>
                </div>

                <div class="text-center mt-4">
                  <button type="submit" class="btn btn-warning" [routerLink]="['new-password']">{{ 'Change password' | translate }}
                    <i class="fas fa-lock pl-2"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>